body{
    background:black;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    color:white;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color:grey;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; 
    height: 200px;
    font-size: 2em;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    border-radius: 8px;
}

.green{
    background-color: lightgreen;
}

.green-text{
    font-size: 0.75em;
}
.pink{
    background-color: rgb(255, 172, 218);
    flex-direction: row;
    padding: 5px;
}

.blue{
    background-color: lightblue;
}

.orange{
    background-color: rgb(253, 159, 96);
}

.column-layout{
    flex-direction: column;
}

.search-bar{
    margin: 10px;
    width: 80%;
    height: 20%;
    background-color: white;
}

.sliders{
    display: flex;
    align-items: center;
}

.slider-container{
    display: flex;
    flex-direction: row;
}

.color-display{
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    background-color: black;
}

.color-display-large{
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    background-color: black;
}

.cartesian-plane{
    margin: 10px;
    width: 175px;
    height: 175px;
    border: 2px solid black;
    background-color: white;
}

.grid-cell{
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    float: left;
}   

.filled{
    background-color: darkgray;
}

.tile-image{
    width: 125px;
    height: 125px;
    border-radius: 5px;
}

.arrow-image{
    width: 25px;
    height: 25px;
    margin-top: 100px;
    margin-left: 20px;
}

button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 0.5em;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
