body{
    background:black;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    color:white;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: grey;
    padding: 0;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    
    background-image: url('../media/duck-wallpaper.jpg');
    background-size: 300px 300px; /* size of each duck tile */
    background-repeat: repeat;    /* repeat to fill the area */
    background-position: top left; /* starting position */
    background-attachment: scroll; /* optional: moves with scroll */
}

.container {
    width: 1700px;
    height: 500px;
    border-radius: 8px;
    background-color: rgb(155, 87, 169);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    position: relative;
    overflow: hidden 
}


.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; 
    height: 200px;
    font-size: 2em;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    border-radius: 8px;
}

.green{
    background-color: lightgreen;
}

.green-text{
    font-size: 0.75em;
}
.pink{
    background-color: rgb(255, 172, 218);
    flex-direction: row;
}

.blue{
    background-color: lightblue;
}

.orange{
    background-color: rgb(253, 159, 96);
}

.column-layout{
    flex-direction: column;
}

.search-bar{
    margin: 10px;
    width: 80%;
    height: 20%;
    background-color: white;
}

.sliders{
    display: flex;
    align-items: center;
}

.slider-container{
    display: flex;
    flex-direction: row;
}

.color-display{
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    background-color: black;
}

.color-display-large{
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    background-color: black;
}

.cartesian-plane{
    margin: 10px;
    width: 175px;
    height: 175px;
    border: 2px solid black;
    background-color: white;
}

.grid-cell{
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    float: left;
}   

.filled{
    background-color: darkgray;
}

.tile-image{
    width: 125px;
    height: 125px;
    border-radius: 5px;
}

.arrow-image{
    width: 25px;
    height: 25px;
    margin-top: 100px;
    margin-left: 20px;
}

button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 0.5em;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 1s ease-out;
  z-index: 1;
}

.image-overlay.reveal {
  clip-path: circle(150% at 50% 50%);
}
