body{
    background:rgb(52, 52, 52);
    margin:0;
    padding:0;
    color:white;
    opacity: .85;
    font-family: 'Roboto', sans-serif;
    
  }

  main{
    margin:0;
    width:100%;
  }

  header{
    margin: 0 auto;
    margin-top:20px;
    color:rgba(246, 15, 142,1.0);
    /* color:#cdcaca; */
    text-align: center;
    width:90%;
    padding:0;
    background:rgb(52, 52, 52);
    font-size:18px;
 
  }
  .flex-box{
    margin:0 auto;
    margin-top:20px;
    width:90%;
    display:flex;
    /* background:green; */
    flex-wrap:wrap;
    justify-content: center;
  }

  .teamCanvas{
    background:black;
    width:400px;
    height:500px;
    margin:5px;
    position:relative;
  }
  .teamCanvas p{
    color:white;
    padding:0;
    margin:0;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
    width:20%;
    font-size: 18px;
    text-align:center;
    border:2px;
    border-style:solid;
    border-color:black;
  }

  .teamCanvas p:hover{
    border:2px;
    background:white;
    border-style:solid;
    border-color: rgba(246, 15, 142,1.0);
    background:white;
    cursor: pointer;
    color: rgba(246, 15, 142,1.0);
  }

  .team-nav{
    justify-content:space-around;
    display: flex;
    width:375px;
    margin:0 auto;

  }



  h5{
    margin:0;
    text-align:center;
    margin-top:10px;
    background: rgba(246, 15, 142,1.0);
    padding:10px;
    font-size: 18px;
  }

  .aniCanvas{
    border:2px;
    background:white;
    border-style:solid;
    border-color: rgba(246, 15, 142,1.0);
    width:375px;
    height:375px;
    margin:0 auto;
    position:relative;
  }

  .active-button{
    color:white;
    background:rgba(246, 15, 142,1.0);
  }

/*CSS TEAM H**/

.TEAM_H_box{
  width:max-content;
  background-color: rgb(34, 29, 41);
  position:absolute;
  color:white;
  margin:1px;
  padding: 12px;
}

.TEAM_H_box:hover{
  background-color: rgb(30, 168, 223);
  cursor:pointer;

}

.TEAM_H_circle{
  border-radius: 10px;;
  background-color: rgb(223, 30, 117);
  position:absolute;
  transform: translate(-50%, -50%);

}

.TEAM_H_h_cell{
  width:20px;
  height:20px;
  background-color: rgb(177, 150, 215);
  position:absolute;
  transform: translate(-50%, -50%);
}

.TEAM_H_h_cell:hover{
 background-color: rgb(225, 217, 235);

}

.TEAM_H_h_word{
  font-size:16px;
  color:white;
  /* position:absolute; */

  background-color:rgba(228, 200, 208,.7);
  display:inline-block;
  margin:2px;
  padding:2px;
  border-style: dotted;
  border-color: rgb(199, 97, 141);
  border-width: 4px;


}

.TEAM_H_h_cell_D{
  position:absolute;
  border-radius:10px;
  transform: translate(-50%, -50%);
}


.TEAM_C_DARK{
  background-color:rgba(53, 56, 255, 0.7);
  height: 20%;
  width: 100%;
  position:absolute;
  top: 35%;
}

.TEAM_C_MED{
  background-color:rgba(111, 148, 230, 0.7);
  height: 20%;
  width: 100%;
  position:absolute;
  top: 45%;
}

.TEAM_C_LIGHT{
  background-color:rgba(164, 196, 237, 0.7);
  height: 20%;
  width: 100%;
  position:absolute;
  top: 55%;
}


.TEAM_C_WHITE{
  background-color:rgb(233, 248, 253);
  height: 10%;
  width: 100%;
  position:absolute;
  top: 65%;
}

.TEAM_C_SKY{
  background-color:rgb(128, 242, 255);
}

.TEAM_C_SUN{
  background-color:rgb(255, 248, 51);
  border-radius: 50%;
  width: 15%;
  height: 15%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.TEAM_C_SAND{
  background-color:rgb(225, 176, 111);
  height: 65%;
  width: 100%;
  position:absolute;
  top: 35%;
}


.TEAM_C_DARK,
.TEAM_C_MED,
.TEAM_C_LIGHT,
.TEAM_C_WHITE {
  will-change: transform;
}